

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0">Profile</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Contacts</a></li>
                        <li class="breadcrumb-item active">Profile</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row mb-4">
        <div class="col-xl-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="text-center">
                        <div class="dropdown float-end">
                            <a class="text-body dropdown-toggle font-size-18" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                <i class="uil uil-ellipsis-v"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Remove</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div>
                            <img src="~/assets/images/users/avatar-4.jpg" alt="" class="avatar-lg rounded-circle img-thumbnail">
                        </div>
                        <div class="text-muted">
                            <h5 class="font-size-16">About</h5>
                            <p>Hi I'm Marcus,has been the industry's standard dummy text To an English person, it will seem like simplified English, as a skeptical Cambridge.</p>
                            <div class="table-responsive mt-4">
                                <div>
                                    <form method="post" id="formEmployee">
                                        <input class="form-control" type="hidden" id="txtId">
                                        <div class="mb-3 row">
                                            <label for="txtFirstName" class="col-md-4 col-form-label">FirstName</label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="text" id="txtFirstName">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="txtLastName" class="col-md-4 col-form-label">LastName</label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="text" id="txtLastName">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="txtPhone" class="col-md-4 col-form-label">Phone</label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="text" id="txtPhone">
                                            </div>
                                        </div> <div class="mb-3 row">
                                            <label for="txtEmail" class="col-md-4 col-form-label">Email</label>
                                            <div class="col-md-8">
                                                <input class="form-control" type="email" id="txtEmail">
                                            </div>
                                        </div>




                                        <div class="d-flex justify-content-center mt-3">
                                            <button type="submit" class="btn btn-primary waves-effect waves-light w-md ">Save</button>

                                        </div>

                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>

                    <hr class="my-4">

                </div>
            </div>
        </div>

        <div class="col-xl-8">
            <div class="card mb-0">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="#about" role="tab" aria-selected="true">
                            <i class="uil uil-user-circle font-size-20"></i>
                            <span class="d-none d-sm-block">About</span>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#tasks" role="tab" aria-selected="false" tabindex="-1">
                            <i class="uil uil-clipboard-notes font-size-20"></i>
                            <span class="d-none d-sm-block">Tasks</span>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#messages" role="tab" aria-selected="false" tabindex="-1">
                            <i class="uil uil-envelope-alt font-size-20"></i>
                            <span class="d-none d-sm-block">Messages</span>
                        </a>
                    </li>
                </ul>
                <!-- Tab content -->
                <div class="tab-content p-4">
                    <div class="tab-pane active show" id="about" role="tabpanel">
                        <div>
                            <div class="p-4 border-top">
                                <form method="post" id="formEmployeeDetail">
                                    <input class="form-control" type="hidden" id="txtIdED">
                                    <input class="form-control" type="hidden" id="txtIdE">

                                    <div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="mb-3 mb-4">
                                                    <label class="form-label" for="txtDateOfBirth">DateOfBirth</label>
                                                    <input type="date" class="form-control" id="txtDateOfBirth">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-4 mb-lg-0">
                                                    <label class="form-label">Gender</label>
                                                    <select class="form-control form-select" title="Gender" id="ddlGender">
                                                        <option value="0">Select Gender</option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-4 mb-lg-0">
                                                    <label class="form-label">City</label>
                                                    <select class="form-control form-select" title="City" id="ddlCity">
                                                        <option value="0">Select City</option>
                                                        <option value="İstanbul">İstanbul</option>
                                                        <option value="Ankra">Ankra</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-4">
                                            <label class="form-label" for="txtAddress">Address</label>
                                            <textarea class="form-control" id="txtAddress" rows="2" placeholder="Enter full address"></textarea>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="mb-4 mb-lg-0">
                                                    <label class="form-label">DriverLicense</label>
                                                    <select class="form-control form-select" title="DriverLicense" id="ddlDriverLicense">
                                                        <option value="0">Select Gender</option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-4 mb-lg-0">
                                                    <label class="form-label">MilitaryObligations</label>
                                                    <select class="form-control form-select" title="MilitaryObligations" id="ddlMilitaryObligations">
                                                        <option value="0">Select MilitaryObligations</option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-4 mb-lg-0">
                                                    <label class="form-label">MaritalStatus</label>
                                                    <select class="form-control form-select" title="MaritalStatus" id="ddlMaritalStatus">
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="d-flex justify-content-center mt-3">
                                            <button type="submit" class="btn btn-primary waves-effect waves-light w-md">Save</button>

                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane" id="tasks" role="tabpanel">
                        <div>
                            <div class="p-4 border-top">
                                <form method="post" id="formEmployeeCompanyPosition">
                                    <input class="form-control" type="hidden" id="txtIdCP">
                                    <input class="form-control" type="hidden" id="txtIdC">

                                    <div>
                                        <div class="row">

                                            <div class="col-lg-4">
                                                <div class="mb-4 mb-lg-0">
                                                    <label class="form-label">Company</label>
                                                    <select class="form-control form-select" title="Company" id="ddlCompany">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-4 mb-lg-0">
                                                    <label class="form-label">Position</label>
                                                    <select class="form-control form-select" title="Position" id="ddlPosition">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="my-3">
                                            <div class="row">
                                            </div>
                                        </div>



                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="mb-3 mb-4">
                                                    <label class="form-label" for="txtHireDate">Hire Date</label>
                                                    <input type="date" class="form-control" id="txtHireDate">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="mb-3 mb-4">
                                                    <label class="form-label" for="txtTerminationDate">TerminationDate</label>
                                                    <input type="date" class="form-control" id="txtTerminationDate">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-wrap gap-3 mt-3">
                                            <button type="submit" class="btn btn-primary waves-effect waves-light w-md">Save</button>

                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane" id="messages" role="tabpanel">
                        <div>
                            <div class="p-4 border-top">
                                <form method="post" id="formEmployeeEducation">
                                    <input class="form-control" type="hidden" id="txtIdEE">
                                    <input class="form-control" type="hidden" id="txtIdEEE">
                                    <div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="mb-4 mb-lg-0">
                                                    <label class="form-label">Education Provider</label>
                                                    <select class="form-control form-select" title="Education Provider" id="ddlEducationProviders">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="mb-4 mb-lg-0">
                                                    <label class="form-label">Fields Of Studies</label>
                                                    <select class="form-control form-select" title="Fields Of Studies" id="ddlFieldOfStudies">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="mb-4 mb-lg-0">
                                                    <label class="form-label">Degrees</label>
                                                    <select class="form-control form-select" title="Degrees" id="ddlDegrees">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="my-3">
                                            <div class="row">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="mb-3 mb-4">
                                                    <label class="form-label" for="txtGraduationDate">Graduation Date</label>
                                                    <input type="date" class="form-control" id="txtGraduationDate">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-wrap gap-3 mt-3">
                                            <button type="submit" class="btn btn-primary waves-effect waves-light w-md">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>
@section Scripts{

    <script>
        function showEmployee() {
            $.ajax({
                url: "@Url.Action("GetEmployeeById","Employee",new {employeeId= Context.Request.Query["employeeId"]})",
                type: "GET",
                success: function (res) {
                    console.log(res);
                    $("#txtId").val(res.id);
                    $("#txtFirstName").val(res.firstName);
                    $("#txtLastName").val(res.lastName);
                    $("#txtPhone").val(res.phone);
                    $("#txtEmail").val(res.email);

                }

            });
        }
        showEmployee();

        $("#formEmployee").submit(function (event) {
            // submit işlemini durdur
            event.preventDefault();

            // form verilerini al
            var formData = {
                id: $("#txtId").val(),
                firstName: $("#txtFirstName").val(),
                lastName: $("#txtLastName").val(),
                phone: $("#txtPhone").val(),
                email: $("#txtEmail").val()
            }
            console.log(formData);

            // AJAX isteği yap
            $.ajax({
                url: "@Url.Action("Edit", "Employee")",
                type: "POST",
                data: formData,
                success: function (res) {
                    console.log(res);
                    // AJAX isteği başarılıysa, sayfayı yeniden yüklemeden form alanlarını doldur
                    //$("#txtFirstName").val(res.firstName);
                    //$("#txtLastName").val(res.lastName);
                    //$("#txtPhone").val(res.phone);
                    //$("#txtEmail").val(res.email);
                    toastr.success('Başarıyla Güncellendi.', 'BASARILI!');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    toastr.error('Basarısız sekilde sonuclandı', 'HATA!');
                    console.log("AJAX error: " + textStatus + " - " + errorThrown);
                }
            });
        });

        function formatDate(date) {
            var formattedDate = date.getFullYear() + "-"
                + ('0' + (date.getMonth() + 1)).slice(-2) + "-"
                + ('0' + date.getDate()).slice(-2);
            return formattedDate;
        }

        // -----EMPLOYEE DETAIL----


        function showEmployeeDetail() {
            $.ajax({
                url: "@Url.Action("GetEmployeeDetailById","EmployeeDetail",new {employeeId= Context.Request.Query["employeeId"]})",
                type: "GET",
                success: function (res) {
                    console.log(res);
                    $("#txtIdED").val(res.id);
                    $("#txtIdE").val(res.employeeId);
                    $("#txtAddress").val(res.address);
                    $("#ddlCity").val(res.city);
                    $("#ddlDriverLicense").val(res.driverLicense);
                    $("#ddlMilitaryObligations").val(res.militaryObligations);
                    $("#ddlGender").val(res.gender);


                    $("#txtDateOfBirth").val(res.dateOfBirth ? formatDate(new Date(res.dateOfBirth)): "");


                    if (res.maritalStatus == null) {
                        $("#ddlMaritalStatus").append(`<option selected disabled>Lütfen Seçiniz</option><option  value="1">Evli</option><option  value="0">Bekar</option>`);
                    } else if (res.maritalStatus) {
                        $("#ddlMaritalStatus").append(`<option value="1" selected>Evli</option><option  value="0">Bekar</option>`);
                    } else if (!res.maritalStatus) {
                        $("#ddlMaritalStatus").append(`<option value="0" selected>Bekar</option><option  value="1">Evli</option>`);
                    } else {
                        $("#ddlMaritalStatus").append(`<option selected disabled>Lütfen Seçiniz</option><option  value="1">Evli</option><option  value="0">Bekar</option>`);
                    }

                }

            });
        }
        showEmployeeDetail();

        $("#formEmployeeDetail").submit(function (event) {
            // submit işlemini durdur
            event.preventDefault();

            // form verilerini al
            var formDataED = {
                id: $("#txtIdED").val(),
                employeeId: $("#txtIdE").val(),
                address: $("#txtAddress").val(),
                city: $("#ddlCity").val(),
                dateOfBirth: $("#txtDateOfBirth").val(),
                driverLicense: $("#ddlDriverLicense").val(),
                militaryObligations: $("#ddlMilitaryObligations").val(),
                gender: $("#ddlGender").val(),
                maritalStatus: $("#ddlMaritalStatus").val() == "1"
            }
            console.log(formDataED);

            // AJAX isteği yap
            $.ajax({
                url: "@Url.Action("Edit", "EmployeeDetail")",
                type: "POST",
                data: formDataED,
                success: function (res) {
                    console.log(res);

                    toastr.success('Başarıyla Güncellendi.', 'BASARILI!');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    toastr.error('Basarısız sekilde sonuclandı', 'HATA!');
                    console.log("AJAX error: " + textStatus + " - " + errorThrown);
                }
            });
        });

        //-----EMPLOYEE COMPANY-POSITION----


        function ddlCompanyFill(companyId) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAll","Company")",
                success: function (res) {
                    $("#ddlCompany").empty();
                    $("#ddlCompany").append(`<option value="0">Lütfen Seçiniz</option> `)
                    for (item of res.data) {
                        if (companyId == item.id) {
                            $("#ddlCompany").append(new Option(item.name, item.id, false, true));
                        }
                        else {
                            $("#ddlCompany").append(new Option(item.name, item.id));
                        }
                    }
                    $("#ddlCompany").change(function () {
                        ddlPositionFill($("#ddlCompany option:selected").val());
                    });
                }
            });
        }
        function ddlPositionFill(companyId) {
            $.ajax({
                type: "POST",
                data: { companyId: companyId },
                url: "@Url.Action("GetAllByCompany","CompanyPosition")",
                success: function (res) {
                    //console.log(res.data);
                    $("#ddlPosition").empty();
                    $("#ddlPosition").append(`<option value="0">Lütfen seçiniz</option> `)
                    for (var item of res.data) {
                        if (item.id == res.id) {
                            $("#ddlPosition").append(new Option(item.name, item.id, false, true));
                        }
                        else {
                            $("#ddlPosition").append(new Option(item.name, item.id));
                        }
                    }
                }
            });
        }


        function showEmployeeCompanyPosition() {
            $.ajax({
                url: "@Url.Action("GetCompanyPositionByEmployeeId","EmployeeCompanyPosition",new {employeeId= Context.Request.Query["employeeId"]})",
                type: "GET",
                success: function (res) {
                    console.log(res);
                    $("#txtIdCP").val(res.id);
                    $("#txtIdC").val(res.employeeId);
                    if (res.positionId == null)
                        ddlCompanyFill(0);
                    else {
                        $("#ddlPosition").append(new Option(res.position.name, res.positionId, false, true))
                        ddlCompanyFill(res.position.companyId);
                    }
                                        // null gelirse boş gözükmesi sağlansın
                    $("#txtHireDate").val(res.hireDate ? formatDate(new Date(res.hireDate)) : "");
                    $("#txtTerminationDate").val(res.terminationDate ? formatDate(new Date(res.terminationDate)) : "");
                }
            });
        }
        showEmployeeCompanyPosition();

        $("#formEmployeeCompanyPosition").submit(function (event) {
            // submit işlemini durdur
            event.preventDefault();

            // form verilerini al
            var formDataCP = {
                id: $("#txtIdCP").val(),
                employeeId: $("#txtIdC").val(),
                positionId:$("#ddlPosition").val(),
                hireDate:$("#txtHireDate").val(),
                terminationDate:$("#txtTerminationDate").val()
            }
            console.log(formDataCP);

            // AJAX isteği yap
            $.ajax({
                url: "@Url.Action("Edit", "EmployeeCompanyPosition")",
                type: "POST",
                data: formDataCP,
                success: function (res) {
                    console.log(res);

                    toastr.success('Başarıyla Güncellendi.', 'BASARILI!');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    toastr.error('Basarısız sekilde sonuclandı', 'HATA!');
                    console.log("AJAX error: " + textStatus + " - " + errorThrown);
                }
            });
        });

                //----- EMPLOYEE EDUCATION ----
                
        function ddlEducationProvidersFill(epId) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAll","EducationProvider")",
                success: function (res) {
                    $("#ddlEducationProviders").empty();
                    $("#ddlEducationProviders").append(`<option value="0">Lütfen Seçiniz</option> `)
                    for (item of res.data) {
                        if (epId == item.id) {
                            $("#ddlEducationProviders").append(new Option(item.name, item.id, false, true));
                        }
                        else {
                            $("#ddlEducationProviders").append(new Option(item.name, item.id));
                        }
                    }
                }
            });
        }
        function ddlFieldOfStudiesFill(fosId) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAll","FieldOfStudy")",
                success: function (res) {
                    $("#ddlFieldOfStudies").empty();
                    $("#ddlFieldOfStudies").append(`<option value="0">Lütfen Seçiniz</option> `)
                    for (item of res.data) {
                        if (fosId == item.id) {
                            $("#ddlFieldOfStudies").append(new Option(item.name, item.id, false, true));
                        }
                        else {
                            $("#ddlFieldOfStudies").append(new Option(item.name, item.id));
                        }
                    }
                }
            });
        }
        function ddlDegreesFill(dId) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAll","Degree")",
                success: function (res) {
                    $("#ddlDegrees").empty();
                    $("#ddlDegrees").append(`<option value="0">Lütfen Seçiniz</option> `)
                    for (item of res.data) {
                        if (dId == item.id) {
                            $("#ddlDegrees").append(new Option(item.name, item.id, false, true));
                        }
                        else {
                            $("#ddlDegrees").append(new Option(item.name, item.id));
                        }
                    }
                }
            });
        }
        function showEmployeeEducation() {
            $.ajax({
                url: "@Url.Action("GetEducationByEmployeeId","EmployeeEducation",new {employeeId= Context.Request.Query["employeeId"]})",
                type: "GET",
                success: function (res) {
                    console.log(res);
                    $("#txtIdEE").val(res.id);
                    $("#txtIdEEE").val(res.employeeId);
                    if (res.educationProviderId == null)
                        ddlEducationProvidersFill(0);
                    else {
                        //$("#ddlPosition").append(new Option(res.position.name, res.positionId, false, true))
                        ddlEducationProvidersFill(res.educationProviderId);
                    };
                    if (res.fieldOfStudyId == null)
                        ddlFieldOfStudiesFill(0);
                    else {
                        //$("#ddlPosition").append(new Option(res.position.name, res.positionId, false, true))
                        ddlFieldOfStudiesFill(res.fieldOfStudyId);
                    };
                    if (res.degreeId == null)
                        ddlDegreesFill(0);
                    else {
                        //$("#ddlPosition").append(new Option(res.position.name, res.positionId, false, true))
                        ddlDegreesFill(res.degreeId);
                    };
                    // null gelirse boş gözükmesi sağlansın
                    $("#txtGraduationDate").val(res.graduationDate ? formatDate(new Date(res.graduationDate)) : "");
                }
            });
        }
        showEmployeeEducation();

        $("#formEmployeeEducation").submit(function (event) {
            // submit işlemini durdur
            event.preventDefault();

            // form verilerini al
            var formDataEE = {
                id: $("#txtIdEE").val(),
                employeeId: $("#txtIdEEE").val(),
                educationProviderId: $("#ddlEducationProviders").val(),
                fieldOfStudyId: $("#ddlFieldOfStudies").val(),
                degreeId: $("#ddlDegrees").val(),
                graduationDate: $("#txtGraduationDate").val(),
            }
            console.log(formDataEE);

            // AJAX isteği yap
            $.ajax({
                url: "@Url.Action("Edit", "EmployeeEducation")",
                type: "POST",
                data: formDataEE,
                success: function (res) {
                    console.log(res);

                    toastr.success('Başarıyla Güncellendi.', 'BASARILI!');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    toastr.error('Basarısız sekilde sonuclandı', 'HATA!');
                    console.log("AJAX error: " + textStatus + " - " + errorThrown);
                }
            });
        });

    </script>
}